{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <main>

        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="overlay-image" style="background-image: url('images/slide1.jpeg');"></div>
                    <div class="carousel-item active">
                        <div class="container">
                            <div class="carousel-caption text-start">
                                <h1>Trouvez votre coach sportif !</h1>
                                <p>A domicile, à distance, en entreprise… Trouvez votre coach sportif et bénéficiez d’un accompagnement professionnel 100 % sur-mesure !</p>
                                {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                                    <p><a class="btn btn-lg btn-primary" href="{{ path('app_register')}}">Inscription</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
            </div>
        </div>


        <!-- Marketing messaging and featurettes
        ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->

        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
            <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="{{ asset('images/coach1.jpeg')}}"></img>
                    <h2>Coach sportif à domicile</h2>
                    <p>Un coach chez-vous, quand vous le souhaitez !</p>
                    <p><a class="btn btn-secondary" href="#">Voir les Coachs &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="{{ asset('images/coach2.jpeg')}}"></img>
                <h2>Coach sportif à distance</h2>
                <p>Un service de coaching en ligne est personnalisé à 100 %.</p>
                <p><a class="btn btn-secondary" href="#">Voir les Coachs &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                    <img class="bd-placeholder-img rounded-circle" width="150" height="150" src="{{ asset('images/coach3.jpeg')}}"></img>
                <h2>Programmes en ligne</h2>
                <p>bénéficier d'un programme d'entraînement conçu par un coach sportif professionnel.</p>
                <p><a class="btn btn-secondary" href="#">Voir les programmes &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Bénéficier d’un programme 100 % sur-mesure</h2>
                <p class="lead">Fini les cours de sport collectifs où les exercices sont les mêmes pour tout le monde. Grâce à votre coach sportif personnel vous allez bénéficier d'un entraînement personnalisé selon vos propres capacités et objectifs. Le rôle d'un personal trainer est avant tout de s'adapter à chacun de ses élèves pour leur proposer un accompagnement unique et optimal afin de leur permettre d'atteindre rapidement leurs objectifs, sans risque de blessure. Pour élaborer au mieux votre programme, votre entraîneur vous fera passer différents tests physiques et prendra également en compte votre passé sportif, vos éventuelles pathologies, votre caractère, vos disponibilités, votre niveau de stress, votre mode de vie, etc. Bien souvent, votre programme sera accompagné de conseils voire d'un plan nutritionnel afin d'accélérer votre progression. </p>
            </div>
            <div class="col-md-5">
                    <img loading="lazy" width="500" height="500" src="{{ asset('images/photo1.jpeg') }}" />

            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Bénéficier d’un véritable accompagnement</h2>
                <p class="lead">Le rôle de votre coach sportif ne se limite pas à vous préparer un plan d’entraînement personnalisé. Au-delà du contenu de vos séances, votre professeur particulier se doit de vous proposer un accompagnement sur-mesure. Lorsqu’il est à vos côtés, il va vous corriger en cas de mauvaises postures, adapter vos exercices selon votre état de forme du jour, vous motiver, etc. afin de vous permettre de réaliser des séances toujours plus efficaces ! Tout au long de votre programme, son objectif sera d’ajuster au mieux vos entraînements et de vous motiver afin de vous permettre de progresser rapidement et d’atteindre vos objectifs en toute sécurité.</p>
            </div>
            <div class="col-md-5 order-md-1">
                    <img loading="lazy" width="500" height="500" src="{{ asset('images/photo2.jpeg') }}" />

            </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Gagner un temps précieux</h2>
                <p class="lead">Grâce à un programme et à un accompagnement sur-mesure vous allez droit au but car chaque séance et chaque exercice sont conçus uniquement pour vous ! Par ailleurs, si vous faites appel à un coach sportif à domicile, vous n’aurez plus à vous déplacer en salle, votre personal trainer se déplacera directement chez vous !</p>
            </div>
            <div class="col-md-5">
                    <img loading="lazy" width="500" height="500" src="{{ asset('images/photo3.jpeg') }}" />

            </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->


        <!-- FOOTER -->
        <footer class="container">
            <p class="float-end"><a href="#">Back to top</a></p>
            <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        </footer>
    </main>

{% endblock %}
