{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="col-lg-4">
        <div class="row ">
            <div class="col-sm-3 col-xl-6 mt-4">
            {% for disponibilite in disponibilites %}
                {% if disponibilite.etat == "disponible" %}
                <div class="card-body border-0 shadow">
                    <div class="mb-2">
                        <div class="text-start">
                            <h2 class="h5 mb-0 text-primary">Date</h2>
                        </div>
                        <p>{{ disponibilite.date ? disponibilite.date|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                    <div class="mb-2">
                        <div class="text-start">
                            <h2 class="h5 mb-0 text-primary">Durée</h2>
                        </div>
                        <p>{{ disponibilite.duree }}</p>
                    </div>
                    <div class="mb-2">
                        <div class="text-start">
                            <h2 class="h5 mb-0 text-primary">Etat</h2>
                        </div>
                        <p>{{ disponibilite.etat }}</p>
                    </div>
                    <div class="mb-2">
                        <div class="text-start">
                            <h2 class="h5 mb-0 text-primary">canal</h2>
                        </div>
                        <p>{{ disponibilite.canal }}</p>
                    </div> 
                    <div class="mb-2">
                        <form method="post" action="{{ path('app_rendezvous_reserver', {'id': disponibilite.id}) }}" onsubmit="return confirm('Are you sure you want to reserve this item?');">
                            <input type="hidden" name="reserve" value="{{ disponibilite.id }}">
                            <button class="btn btn-primary" type="submit">Reserver</button>
                        </form>
                    
                    </div>
                </div>
                {% endif %}
            {% else %}
                <div class="mb-5 wow fadeIn">
                    <h2>no records found</h2>
                </div>
            
        {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
