{% extends 'base.html.twig' %}

{% block title %}Hello RendezVousController!{% endblock %}

{% block body %}
    <section class="blog-section spad">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8 p-0">
                {% for disponibilite in disponibilites %}
                {% if disponibilite.etat | lower == "disponible" %}
                    <div class="blog-item">
                        <div class="bi-text">
                            <h5><a href="">Rendez-vous de {{ disponibilite.duree }}</a></h5>
                            <ul>
                                <li>{{ disponibilite.date ? disponibilite.date|date('Y-m-d') : '' }}</li>
                                <li>{{ disponibilite.date ? disponibilite.date|date('H:i:s') : '' }}</li>
                                <li>{{ disponibilite.canal }}</li>
                            </ul>
                            <p>{{ disponibilite.etat }}</p>
                            <form method="post" action="{{ path('app_rendezvous_reserver', {'id': disponibilite.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir réserver ce rendez-vous ?');">
                                <input type="hidden" name="reserve" value="{{ disponibilite.id }}">
                            <button class="primary-btn btn-normal appoinment-btn" type="submit">Reserver</button>
                        </form>
                        </div>
                    </div>
                {% endif %}
                {% else %}
                    <h2 style="color: white;">Ce coach n'est pas diponible pour le moment ! </h2>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
