{% extends 'base.html.twig' %}

{% block title %}Hello ProfilController!{% endblock %}

{% block body %}

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container ">
            <div class="row  mt-5">
                <div class="col-lg-6">
                    <!-- Profile picture image-->
                    {% if user.image == NULL %}
                        <img width="400px" class="img-account-profile rounded-circle mb-2" src="images/anonymous_user.webp" alt="">
                    {% else %}
                        <img width="400px" class="img-account-profile rounded-circle mb-2" src="images/coach/{{ user.image }}" alt="">
                    {% endif %}
                    <!-- Profile picture upload button-->
                    {{ form_start(editImageForm, {'method': 'POST'}) }}
                    {{ form_widget(editImageForm.image) }}
                    <div class="edit-image">
                    {{ form_end(editImageForm) }}
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="leave-comment">
                            <div class="card-body">
                                <div>
                                {{ form_start(editInfoForm, {'method': 'GET'}) }}
                                    <!-- Form Row-->
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (first name)-->
                                        <div class="col-md-6">
                                            {{ form_row(editInfoForm.nom) }}
                                        </div>
                                        <!-- Form Group (last name)-->
                                        <div class="col-md-6">
                                            {{ form_row(editInfoForm.prenom) }}
                                    </div>
                                    </div>
                                    <!-- Form Row        -->
                                    {% if is_granted("ROLE_COACH")%}
                                    <div class="row gx-3 mb-3">
                                        <!-- Form Group (organization name)-->
                                            <div class="col-md-6">
                                                {{ form_row(editInfoForm.coaching)}}</div>
                                            <!-- Form Group (location)-->
                                            <div class="col-md-6">
                                                {{ form_row(editInfoForm.ville) }}</div>
                                    </div>
                                    <div class="mb-3">
                                        {{ form_row(editInfoForm.email) }}</div>
                                    </div>
                                    <div class="row mb-3">
                                        <!-- Form Group (description)-->
                                        {{ form_row(editInfoForm.description) }}
                                    </div>
                                    {% else %}
                                    <div class="mb-3">
                                        {{ form_row(editInfoForm.ville) }}
                                        {{ form_row(editInfoForm.email) }}
                                        {% do editInfoForm.coaching.setRendered() %}
                                        {% do editInfoForm.description.setRendered() %}</div>
                                    </div>
                                    {% endif %}
                                    <!-- Save changes button-->
                                    <button class="primary-btn btn-normal appoinment-btn" type="submit">Enregistrer</button>
                                    {{ form_end(editInfoForm) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}

