{% extends 'base.html.twig' %}

{% block title %}Edit Disponibilite{% endblock %}

{% block body %}

<section class="contact-section spad">
    <div class="container mt-5">
        <div class="row">
            <div class="col-lg-9">
                <div class="leave-comment">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <button class="primary-btn btn-normal appoinment-btn">{{ button_label|default('Save') }}</button>
                    {{ form_end(form) }}
                    <form method="post" action="{{ path('app_disponibilite_delete', {'id': disponibilite.id}) }}" onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cet disponibilité?');">
                        <input type="hidden" name="delete" value="{{ disponibilite.id }}">
                        <button class="primary-btn btn-normal appoinment-btn">Delete</button>
                    </form>

                    <a class="primary-btn btn-normal appoinment-btn" type="button" href="{{ path('app_disponibilite_index') }}">back to list</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
