{% extends 'base.html.twig' %}

{% block title %}Coachs{% endblock %}

{% block body %}
    	<section class="team-section spad">
		<div class="container">
			<div class="row mt-5">
				<div class="col-lg-12">
					<div class="team-title">
						<div class="section-title">
							<span>Nos Coachs</span>
							<h2>
								Coacher vous avec des experts
							</h2>
						</div>
                        <div class="section-filter">
							<form method="get">
								<div class="row">
									<div class="dropdown col-lg-7">
										<select class="primary-btn btn-normal appoinment-btn dropdown-toggle"
											type="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
											id="ville-select"
											name="ville">
											<li>
												<option class="dropdown-item" value="">
													Ville
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Paris" {{ selectVille == "Paris" ? "selected" : "" }}>
													Paris
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Nice" {{ selectVille == "Nice" ? "selected" : "" }}>
													Nice
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Marseille" {{ selectVille == "Marseille" ? "selected" : "" }}>
													Marseille
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Nimes" {{ selectVille == "Nimes" ? "selected" : "" }}>
													Nimes
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Canne" {{ selectVille == "Canne" ? "selected" : "" }}>
													Canne
												</option>
											</li>
										</select>
									</div>
									<div class="dropdown col-lg-3">
										<select class="primary-btn btn-normal appoinment-btn dropdown-toggle"
											type="button"
											data-bs-toggle="dropdown"
											aria-expanded="false"
											id="programme-select"
											name="coaching">
											<li>
												<option class="dropdown-item" value="">
													Coaching
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Domicile" {{ selectCoaching == "Domicile" ? "selected" : "" }}>
													A Domicile
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Distance" {{ selectCoaching == "Distance" ? "selected" : "" }}>
													A Distance
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="En Ligne" {{ selectCoaching == "En Ligne" ? "selected" : "" }}>
													En Ligne
												</option>
											</li>
											<li>
												<option class="dropdown-item" value="Libre" {{ selectCoaching == "Libre" ? "selected" : "" }}>
													Libre
												</option>
											</li>
										</select>
									</div>
									<div class="to-search search-switch">
										<button class="primary-btn btn-normal appoinment-btn" type="submit" href="">
											<i class="fa fa-search"></i>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
			{% if coachs|length == 0 %}
                <h2 style="color: white;">Nous sommes navré, y a aucun coach pour le moment !</h2>
            {% endif %}
            {% for coach in coachs %}
					<div class="col-lg-4 mt-5">
					{% if coach.image == null %}
					<div class="ts-item set-bg" data-setbg="/images/anonymous_user.webp">
                	{% else %}
					<div class="ts-item set-bg" data-setbg="/images/coach/{{ coach.image }}">
                	{% endif %}
							<div class="ts_text">
								<h4>
									{{ coach.nom }} {{ coach.prenom }}
								</h4>
								<span>Coaching {{ coach.coaching }}</span>
                                <a href="{{ path('app_coachdeatail', {'id' : coach.id }) }}" class="primary-btn btn-normal coach-btn">Consulter</a>

							</div>
					</div>
				    </div>
			{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}
