{% extends 'base.html.twig' %}

{% block title %}Hello AddProgrammeController!{% endblock %}

{% block body %}
   <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb-bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb-text">
                        <h2>Nouveau Programme</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Contact Section Begin -->
    <section class="contact-section spad">
        <div class="container">
            <div class="row">
                {% if errors is not null and errors is not empty %}
                    <p style="color:red;">{{ errors }}</p>
                {% endif %}
                <div class="col-lg-12">
                    <div class="leave-comment">
                        {{ form_start(form) }}
                            {{ form_row(form.nom) }}
                            {{ form_row(form.description) }}
                            {{ form_row(form.prix) }}
                            {{ form_row(form.image) }}
                            {{ form_row(form.categorie) }}
                            {{ form_row(form.contenu) }}
                            <button class="mt-4" type="submit">Valider</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Contact Section End -->
{% endblock %}
