{% extends 'base.html.twig' %}

{% block title %}Hello AddProgrammeController!{% endblock %}

{% block body %}
<div class="container mt-5">
        <h1 class="h3 mb-3 font-weight-normal">Nouveau Programme !</h1>
        {% if errors is not null and errors is not empty %}
            <p style="color:red;">{{ errors }}</p>
        {% endif %}

        {{ form_start(form) }}
            {{ form_row(form.nom, {
                label : 'Nom'
            }) }}
            {{ form_row(form.description, {
                label: 'Description'
            }) }}
            {{ form_row(form.image, {
                label: 'Image'
            }) }}
            {{ form_row(form.contenu, {
                label: 'Contenu'
            }) }}

            <button type="submit" class="btn btn-primary mt-2">Valider</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
